body {
    font: "Helvetica";
}

p {
    font-size: 16px;
}

.feature_name {
    color: darkblue;
}

.attribute_name {
    color: darkblue;
}

.value {
    font: "Monospaced";
}

.image_cell {
    background-color:DarkSlateGray;
}

.product_cell {
}

.value_cell {
}
